/* general styles */
:root {
  --bgColor: #24353f;
  --primaryColor: rgb(57, 151, 170);
}

body {
  background-color: var(--bgColor);
  font-family: "Fjalla One", sans-serif;
}

/* common style */
.loginDesc,
.signUpmsg,
.signInmsg,
.notExistMsg,
.errorMsg,
.forgetPassLink {
  font-family: "Roboto Condensed", sans-serif;
}

.signupLink,
.signInLink,
.logoutBtn {
  transition: color 300ms;
}
.logoutBtn {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.signupLink:hover,
.signInLink:hover,
.logoutBtn:hover {
  color: rgb(13, 100, 112) !important;
}

/*  login styles */
.loginBox {
  box-shadow: 0 0 15px 0.5px rgba(120, 92, 58, 0.15);
  width: 100%;
}

input::placeholder,
input,
.form-control:focus {
  color: #54585a !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem var(--primaryColor) !important;
  border-color: transparent !important;
}

.loginBtn,
.signUpBtn {
  background-color: var(--primaryColor);
  border-color: transparent !important;
  transition: background-color 300ms, border-color 300ms;
}

.loginBtn:hover,
.signUpBtn:hover {
  background-color: transparent !important;
  border-color: var(--primaryColor) !important;
}

.fa-eye,
.fa-eye-slash {
  right: 20px;
  top: 20px !important;
  color: rgba(0, 0, 0, 0.6) !important;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .loginBox {
    width: 50%;
  }
}

.home-main-content {
  padding: 120px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
